
 @font-face {
  font-family: 'chinese_rocks_rg';
    src: url('../fonts/chinese_rocks/chinese_rocks_rg-webfont.woff2') format('woff2'),
         url('../fonts/chinese_rocks/chinese_rocks_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 body {
  font-family: "chinese_rocks_rg", Roboto, Helvetica, Arial, sans-serif;
 }
 